.container {
  justify-content: center;
}
.divide {
  height: vw(1px);
  width: vw(970px);
  margin-bottom: vw(58px);
  background-color: $GRAY-679;
}

.detail {
  justify-content: center;
  width: vw(1170px);
  flex-direction: column;
  // background-color: red;
  &_thumbnail {
    width: vw(1170px);
    height: vw(480px);
    overflow: hidden;
    // margin-bottom: vw(30px);
    // margin-top: vw(60px);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_talk {
    width: vw(970px);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_title {
      margin-top: vw(60px);
      margin-bottom: vw(36px);
      color: $GRAY-40;
    }

    &_profile {
      // height: vw(68px);
      margin-bottom: vw(64px);

      &_img {
        width: vw(68px);
        height: vw(68px);
        margin-right: vw(28px);
        border-radius: 70%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      &_extra {
        width: vw(870px);
        justify-content: space-between;
        align-items: center;
        &_name {
          color: $GRAY-40;
        }
        &_date {
          color: $GRAY-67;
        }
      }
    }

    &_text {
      width: vw(970px);
      background-color: $GRAY-679;
      color: $GRAY-40;
      margin-bottom: vw(36px);
    }

    &_tag {
      width: vw(970px);
      // height: vw(48px);
      margin-bottom: vw(100px);
      justify-content: space-between;

      &_name {
        // height: vw(35px);
        color: $MAIN;
      }

      &_good {
        border-radius: 70%;
        width: vw(48px);
        height: vw(48px);
        background-color: $GRAY-679;
        &:hover {
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }

    &_count {
      // height: vw(26px);
      // width: vw(316px);
      margin-bottom: vw(30px);

      &_view,
      &_like {
        // height: vw(26px);
        width: vw(100px);
        flex-direction: row;
        margin-right: vw(16px);

        &_name {
          color: $GRAY-67;
          margin-right: vw(8px);
        }

        &_num {
          color: $GRAY-67;
        }
      }
    }

    &_comment {
      &_cnt {
        margin-bottom: vw(48px);

        &_text,
        &_num {
          color: $GRAY-40;
          margin-right: vw(8px);
        }
      }
      &_input {
        height: vw(48px);
        width: vw(946px);
        margin-bottom: vw(48px);
        margin-left: vw(12px);

        &_img {
          width: vw(48px);
          height: vw(48px);
          margin-right: vw(16px);
          border-radius: 70%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &_text {
          width: vw(800px);
          padding: vw(13px) vw(16px);
          border: vw(1.5px) solid $GRAY-DB;
          border-radius: vw(6px);
          resize: none;
          color: $GRAY-40;
          margin-right: vw(16px);
          overflow: hidden;

          &:focus {
            outline: none;
          }
        }

        &_btn {
          border-radius: vw(15px);
          color: $WHITE;
          background-color: $GRAY-DB;
          width: 70px;
        }
      }
    }

    &_comment {
      margin-left: vw(12px);
      margin-bottom: vw(24px);
    }

    &_commentRe {
      margin-left: vw(60px);
      margin-bottom: vw(24px);
    }
  }
}
