.container {
  justify-content: center;
}

.talk {
  margin-top: vw(60px);
  width: vw(1173px);
  flex-direction: column;
  //   background-color: aqua;
  &_titleImg {
    // background-color: red;
    margin-bottom: vw(60px);
    width: vw(1170px);
    height: vw(432px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &_best {
    width: vw(1170px);
    margin-bottom: vw(40px);
    &_title {
      margin-bottom: vw(8px);
      color: $GRAY-40;
    }
    &_sub {
      color: $GRAY-67;
      margin-bottom: vw(40px);
    }
    &_card {
      justify-content: space-between;
      // flex-wrap: wrap;
    }
  }
  &_camp {
    width: vw(1170px);
    flex-direction: column;
    // background-color: red;
    &_title {
      margin-bottom: vw(60px);
      justify-content: space-between;
      align-items: center;
      &_btn {
        background-color: $MAIN;
        color: $WHITE;
        height: vw(40px);
        padding: vw(7px) vw(28px);
        border-radius: vw(17px);
      }
    }
  }
}
.comp {
  width: vw(1170px);
  justify-content: space-between;
  flex-wrap: wrap;
  // flex-direction: column;
  // &_row {
  //   justify-content: space-between;
  //   flex-direction: row;
}
