.container {
  justify-content: center;
}
.infoedit {
  width: vw(350px);
  margin-top: vw(140px);
  &_top {
    align-items: center;
    flex-direction: column;
    .divide {
      width: 100%;
      height: vw(1px);
      background-color: $GRAY-F3;
      margin: (38px) 0 (28px);
    }
    &_title {
      color: $GRAY-40;
      margin-bottom: vw(40px);
    }
    img {
      height: (100px);
      width: (100px);
      border-radius: 70%;
    }
    &_btn {
      color: $GRAY-67;
      margin-top: (24px);
      text-decoration: underline;
    }
  }

  &_box {
    width: (300px);
    // margin: 0 (25px) 0 (px);
    &_title {
      color: $GRAY-67;
      margin: (14px) 0 (12px);
    }
    &_input {
      width: (300px);
      height: (44px);
      border-radius: (6px);
      padding-left: (16px);
      margin-bottom: (6px);
      border: 1px solid $MAIN;
      color: $GRAY-40;
      &:focus {
        border: 1px solid $MAIN;
        box-shadow: 0 0 5px $MAIN;
      }
      &_check {
        height: (18px);
        color: $RED;
      }
    }
  }

  &_btn {
    margin-top: vw(40px);
    width: 100%;
    align-items: center;
    flex-direction: column;
    &_fini,
    &_chpw {
      width: (300px);
      height: (52px);
      color: $WHITE;
      background-color: $GRAY-DB;
      border-radius: (6px);
      margin: (11px) 0 (5px);
      &:hover {
        color: $WHITE;
        background-color: $MAIN;
        box-shadow: 0 0 (5px) $MAIN;
      }
    }
    &_drop {
      margin-top: (27px);
      color: $GRAY-DB;
      text-decoration: underline;
    }
  }
}

.imginput {
  display: none;
}