.container {
  justify-content: center;
}

.divideline {
  height: vw(1px);
  width: vw(830px);
  background-color: $GRAY-E4;
  margin-bottom: vw(28px);
}

.dividevert {
  width: vw(1px);
  height: vw(20px);
  background-color: $GRAY-E4;
}

.myfeed {
  flex-direction: column;
  width: vw(830px);

  &_profile {
    margin-top: vw(100px);
    margin-bottom: vw(47px);
    align-items: center;
    &_pic {
      width: vw(140px);
      height: vw(140px);
      overflow: hidden;
      margin-right: vw(44px);

      img {
        height: 100%;
        width: 100%;
        border-radius: 70%;
      }
    }

    &_content {
      &_name {
        color: $GRAY-40;
      }

      &_email {
        color: $GRAY-61;
        margin-bottom: vw(15px);
      }

      &_extra {
        &_poname {
          color: $GRAY-AD;
          margin-right: vw(10px);
        }

        &_pocnt {
          color: $GRAY-76;
          margin-right: vw(32px);
        }

        &_taname {
          color: $GRAY-AD;
          margin-right: vw(10px);
        }

        &_tacnt {
          color: $GRAY-76;
        }
      }
    }
  }

  &_sel {
    margin-bottom: vw(32px);

    &_phot {
      color: $MAIN;
      margin-right: vw(22px);
    }

    &_tal {
      color: $GRAY-67;
      margin-left: vw(21px);
    }
  }
}
