.search {
  &_loca {
    select,
    button {
      border: (1.5px) solid $MAIN;
      height: (46px);
      border-radius: (15px);
      &:hover,
      &:focus {
        box-shadow: 0 0 (5px) $MAIN;
      }
    }

    select {
      width: (143px);
      color: $GRAY-DB;
      padding: 0 (16px);
      margin-right: (24px);
      appearance: none;
    }
    button {
      width: (122px);
      margin-left: (10px);
      color: $WHITE;
      background-color: $MAIN;
    }
  }

  &_tag {
    align-items: flex-end;

    &_list {
      justify-content: center;
      flex-wrap: wrap;
      button {
        color: $GRAY-BF;
        border: (1.5px) solid $GRAY-BF;
        padding: (7px) (20px);
        border-radius: (20px);
        margin: 0 (8px) (16px) 0;
      }
      .selected {
        background-color: $MAIN;
        color: $WHITE;
        opacity: 0.8;
        border: (1.5px) solid $MAIN;
      }
    }
    &_fin {
      button {
        width: vw(70px);
        height: vw(46px);
        margin-left: vw(10px);
        color: $WHITE;
        background-color: $MAIN;
        border-radius: vw(15px);
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .search {
    &_loca {
      select,
      button {
        border: vw(1.5px) solid $MAIN;
        height: vw(46px);
        border-radius: vw(15px);
        &:hover,
        &:focus {
          box-shadow: 0 0 vw(5px) $MAIN;
        }
      }

      select {
        width: vw(143px);
        padding: 0 vw(16px);
        margin-right: vw(24px);
      }
      button {
        width: vw(122px);
        margin-left: vw(10px);
      }
    }

    &_tag {
      &_list {
        button {
          border: vw(1.5px) solid $GRAY-BF;
          padding: vw(7px) vw(20px);
          border-radius: vw(20px);
          margin: 0 vw(8px) vw(16px) 0;
          &:focus {
            border: vw(1.5px) solid $MAIN;
          }
        }
        .selected {
          border: vw(1.5px) solid $MAIN;
        }
      }
      &_fin {
        button {
          width: vw(70px);
          height: vw(46px);
          margin-left: vw(10px);
          border-radius: vw(15px);
        }
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .search {
    &_loca {
      select,
      button {
        border: vw-t(1.5px) solid $MAIN;
        height: vw-t(46px);
        border-radius: vw-t(15px);
        &:hover,
        &:focus {
          box-shadow: 0 0 vw-t(5px) $MAIN;
        }
      }

      select {
        width: vw-t(143px);
        padding: 0 vw-t(16px);
        margin-right: vw-t(24px);
      }
      button {
        width: vw-t(122px);
        margin-left: vw-t(10px);
      }
    }

    &_tag {
      &_list {
        button {
          border: vw-t(1.5px) solid $GRAY-BF;
          padding: vw-t(7px) vw-t(20px);
          border-radius: vw-t(20px);
          margin: 0 vw-t(8px) vw-t(16px) 0;
        }
        .selected {
          border: vw-t(1.5px) solid $MAIN;
        }
      }
      &_fin {
        button {
          width: vw-t(70px);
          height: vw-t(46px);
          margin-left: vw-t(10px);
          border-radius: vw-t(15px);
        }
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .search {
    &_loca {
      select,
      button {
        border: vw-p(1.5px) solid $MAIN;
        height: vw-p(46px);
        border-radius: vw-p(15px);
        &:hover,
        &:focus {
          box-shadow: 0 0 vw-p(5px) $MAIN;
        }
      }

      select {
        width: vw-p(143px);
        padding: 0 vw-p(16px);
        margin-right: vw-p(24px);
      }
      button {
        width: vw-p(122px);
        margin-left: vw-p(10px);
      }
    }

    &_tag {
      &_list {
        button {
          border: vw-p(1.5px) solid $GRAY-BF;
          padding: vw-p(7px) vw-p(20px);
          border-radius: vw-p(20px);
          margin: 0 vw-p(8px) vw-p(16px) 0;
        }
        .selected {
          border: vw-p(1.5px) solid $MAIN;
        }
      }
      &_fin {
        button {
          width: vw-p(70px);
          height: vw-p(46px);
          margin-left: vw-p(10px);
          border-radius: vw-p(15px);
        }
      }
    }
  }
}
