.search {
  &_keyword,
  &_loca,
  &_tag {
    margin-bottom: 30px;
  }
  &_keyword {
    &_input {
      width: (450px);
      height: (44px);
      border: (1.5px) solid $GRAY-BF;
      border-radius: (18px);
      padding: 0 (20px);
      color: $GRAY-BF;
    }
  }
  &_loca {
    select {
      border: (1.5px) solid $GRAY-BF;
      height: (46px);
      border-radius: (18px);
      &:hover,
      &:focus {
        box-shadow: 0 0 (5px) $MAIN;
      }
    }
    select {
      width: (200px);
      height: 44px;
      color: $GRAY-BF;
      padding: 0 (16px);
      margin-right: (32px);
      appearance: none;
    }
  }

  &_tag {
    align-items: flex-end;
    width: 1000px;
    &_list {
      justify-content: center;
      flex-wrap: wrap;
      button {
        color: $GRAY-BF;
        border: (1.5px) solid $GRAY-BF;
        padding: (7px) (20px);
        border-radius: (20px);
        margin: 0 (12px) (16px) 0;
      }
      .selected {
        background-color: $MAIN;
        color: $WHITE;
        opacity: 0.8;
        border: (1.5px) solid $MAIN;
      }
    }
    &_fin {
      button {
        width: vw(70px);
        height: vw(46px);
        margin-left: vw(10px);
        color: $WHITE;
        background-color: $MAIN;
        border-radius: vw(15px);
      }
    }
  }
}
