.container {
  justify-content: center;
}

.plan {
  width: vw(1170px);
  .divide {
    width: 100%;
    height: vw(1px);
  }
  &_title {
    // justify-content: flex-start;
    margin-top: vw(60px);
  }

  &_coming,
  &_past {
    &_title {
      margin: vw(32px) 0 vw(40px) 0;
    }
  }
  &_login {
    margin-top: vw(150px);
    &_txt {
      margin-bottom: vw(60px);
    }
    &_btn {
      background-color: $MAIN;
      color: $WHITE;
      padding: vw(16px) vw(28px);
      border-radius: vw(18px);
    }
  }
}
