.shop_card {
  width: vw(370px);
  flex-direction: column;
  &_img {
    height: vw(370px);
    overflow: hidden;
    border-radius: vw(17px);
    margin-bottom: vw(60px);
    img{
      width: 100%;
      height: 100%;
    }
  }

  &_name {
    color: $GRAY-40;
  }
  &_etc {
    justify-content: space-between;
    align-items: center;
    &_price {
      color: $GRAY-67;
    }
    &_btn {
      height: vw(50px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw(15px);
    }

  }
}

.shopCardList {
  justify-content: space-around;
}
