.findpwch {
  flex-direction: column;
  &_title {
    color: $GRAY-40;
    margin: (160px) 0 (16px) 0;
  }
  &_sub {
    color: $GRAY-67;
    margin-bottom: (46px);
  }
  &_pw,
  &_pw2 {
    &_title,
    &_check,
    input {
      margin-bottom: (12px);
    }
    &_title {
      color: $GRAY-67;
      margin-top: (12px);
    }
    input {
      width: (350px);
      height: (52px);
      border-radius: (6px);
      border: (1px) solid $MAIN;
      color: $GRAY-40;
      padding-left: (16px);
      margin-bottom: (6px);
    }
    input:focus {
      border: (1px) solid $MAIN;
      box-shadow: 0 0 (5px) $MAIN;
    }
    &_check {
      color: $RED;
    }
  }
  &_btn {
    width: (350px);
    height: (52px);
    color: $WHITE;
    background-color: $MAIN;
    margin-top: (51px);
    border-radius: (6px);
  }
  &_btn:hover {
    box-shadow: 0 0 (5px) $MAIN;
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  .findpwch {
    &_title {
      margin: vw(160px) 0 vw(16px);
    }
    &_sub {
      margin-bottom: vw(46px);
    }
    &_pw,
    &_pw2 {
      &_title,
      &_check,
      input {
        margin-bottom: vw(20px);
      }
      input {
        width: vw(350px);
        height: vw(52px);
        border-radius: vw(6px);
        border: vw(1px) solid $MAIN;
        padding-left: vw(16px);
        margin-bottom: vw(6px);
      }
      input:focus {
        border: vw(1px) solid $MAIN;
        box-shadow: 0 0 vw(5px) $MAIN;
      }
    }
    &_btn {
      width: vw(350px);
      height: vw(52px);
      margin-top: vw(51px);
      border-radius: vw(6px);
    }
    &_btn:hover {
      box-shadow: 0 0 vw(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .findpwch {
    &_title {
      margin: vw-t(160px) 0 vw-t(16px);
    }
    &_sub {
      margin-bottom: vw-t(46px);
    }
    &_pw,
    &_pw2 {
      &_title,
      &_check,
      input {
        margin-bottom: vw-t(12px);
      }
      input {
        width: vw-t(420px);
        height: vw-t(60px);
        border-radius: vw-t(6px);
        border: vw-t(1px) solid $MAIN;

        padding-left: vw-t(24px);
        margin-bottom: vw-t(12px);
      }
      input:focus {
        border: vw-t(1px) solid $MAIN;
        box-shadow: 0 0 vw-t(5px) $MAIN;
      }
    }
    &_btn {
      width: vw-t(420px);
      height: vw-t(72px);
      margin-top: vw-t(60px);
      border-radius: vw-t(6px);
    }
    &_btn:hover {
      box-shadow: 0 0 vw-t(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .findpwch {
    width: vw-p(420px);
    &_title {
      margin: vw-p(160px) 0 vw-p(16px) 0;
    }
    &_sub {
      margin-bottom: vw-p(46px);
    }
    &_pw,
    &_pw2 {
      &_title,
      &_check,
      input {
        margin-bottom: vw-p(12px);
      }
      input {
        width: vw-p(420px);
        height: vw-p(60px);
        border-radius: vw-p(6px);
        border: vw-p(1px) solid $MAIN;
        padding-left: vw-p(16px);
      }
      input:focus {
        border: vw-p(1px) solid $MAIN;
        box-shadow: 0 0 vw-p(5px) $MAIN;
      }
    }
    &_btn {
      width: vw-p(420px);
      height: vw-p(72px);
      margin-top: vw-p(51px);
      border-radius: vw-p(6px);
    }
    &_btn:hover {
      box-shadow: 0 0 vw-p(5px) $MAIN;
    }
  }
}
