.container {
  justify-content: center;
}
.findpw {
  width: (300px);
  flex-direction: column;
  .divide {
    width: 100%;
    height: (1px);
    background-color: $GRAY-F3;
    margin-bottom: (40px);
  }
  &_title {
    color: $GRAY-40;
    margin: (176px) 0 (16px);
  }
  &_sub1,
  &_sub2 {
    color: $GRAY-67;
    margin-bottom: (4px);
  }
  &_email {
    &_title,
    &_check,
    input {
      margin-bottom: (12px);
    }
    &_title {
      color: $GRAY-67;
      margin-top: (42px);
    }
    input {
      width: (300px);
      height: (44px);
      border-radius: (6px);
      border: 1px solid $MAIN;
      color: $GRAY-40;
      padding-left: (16px);
    }
    input:focus {
      border: (1px) solid $MAIN;
      box-shadow: 0 0 (5px) $MAIN;
    }
    &_check {
      color: $RED;
    }
  }
  &_btn {
    width: (300px);
    height: (52px);
    color: $WHITE;
    background-color: $MAIN;
    margin: (14px) 0 (24px);
    border-radius: (6px);
  }
  &_btn:hover {
    box-shadow: 0px 0px (5px) $MAIN;
  }
  &_ask {
    color: $GRAY-67;
    margin-bottom: (32px);
    &_login {
      margin-left: (6px);
      text-decoration: underline;
    }
  }
  &_alert {
    color: $GRAY-76;
    &_sub2, &_sub3 {
      margin-top: (20px);
    }
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  .findpw {
    width: vw(300px);
    flex-direction: column;
    .divide {
      width: 100%;
      height: vw(1px);
      background-color: $GRAY-F3;
      margin-bottom: vw(40px);
    }
    &_title {
      color: $GRAY-40;
      margin: vw(176px) 0 vw(16px);
    }
    &_sub1,
    &_sub2 {
      color: $GRAY-67;
      margin-bottom: vw(4px);
    }
    &_email {
      &_title,
      &_check,
      input {
        margin-bottom: vw(12px);
      }
      &_title {
        color: $GRAY-67;
        margin-top: vw(42px);
      }
      input {
        width: vw(300px);
        height: vw(44px);
        border-radius: vw(6px);
        border: 1px solid $MAIN;
        color: $GRAY-40;
        padding-left: vw(16px);
      }
      input:focus {
        border: vw(1px) solid $MAIN;
        box-shadow: 0 0 vw(5px) $MAIN;
      }
      &_check {
        color: $RED;
      }
    }
    &_btn {
      width: vw(300px);
      height: vw(52px);
      color: $WHITE;
      background-color: $MAIN;
      margin: vw(14px) 0 vw(24px);
      border-radius: vw(6px);
    }
    &_btn:hover {
      box-shadow: 0px 0px vw(5px) $MAIN;
    }
    &_ask {
      color: $GRAY-67;
      margin-bottom: vw(32px);
      &_login {
        margin-left: vw(6px);
        text-decoration: underline;
      }
    }
    &_alert {
      color: $GRAY-76;
      &_sub2, &_sub3 {
        margin-top: vw(20px);
      }
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .findpw {
    width: vw-t(300px);
    flex-direction: column;
    .divide {
      width: 100%;
      height: vw-t(1px);
      background-color: $GRAY-F3;
      margin-bottom: vw-t(40px);
    }
    &_title {
      color: $GRAY-40;
      margin: vw-t(176px) 0 vw-t(16px);
    }
    &_sub1,
    &_sub2 {
      color: $GRAY-67;
      margin-bottom: vw-t(4px);
    }
    &_email {
      &_title,
      &_check,
      input {
        margin-bottom: vw-t(12px);
      }
      &_title {
        color: $GRAY-67;
        margin-top: vw-t(42px);
      }
      input {
        width: vw-t(300px);
        height: vw-t(44px);
        border-radius: vw-t(6px);
        border: 1px solid $MAIN;
        color: $GRAY-40;
        padding-left: vw-t(16px);
      }
      input:focus {
        border: vw-t(1px) solid $MAIN;
        box-shadow: 0 0 vw-t(5px) $MAIN;
      }
      &_check {
        color: $RED;
      }
    }
    &_btn {
      width: vw-t(300px);
      height: vw-t(52px);
      color: $WHITE;
      background-color: $MAIN;
      margin: vw-t(14px) 0 vw-t(24px);
      border-radius: vw-t(6px);
    }
    &_btn:hover {
      box-shadow: 0px 0px vw-t(5px) $MAIN;
    }
    &_ask {
      color: $GRAY-67;
      margin-bottom: vw-t(32px);
      &_login {
        margin-left: vw-t(6px);
        text-decoration: underline;
      }
    }
    &_alert {
      color: $GRAY-76;
      &_sub2, &_sub3 {
        margin-top: vw-t(20px);
      }
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .findpw {
    width: vw-p(300px);
    flex-direction: column;
    .divide {
      width: 100%;
      height: vw-p(1px);
      background-color: $GRAY-F3;
      margin-bottom: vw-p(40px);
    }
    &_title {
      color: $GRAY-40;
      margin: vw-p(176px) 0 vw-p(16px);
    }
    &_sub1,
    &_sub2 {
      color: $GRAY-67;
      margin-bottom: vw-p(4px);
    }
    &_email {
      &_title,
      &_check,
      input {
        margin-bottom: vw-p(12px);
      }
      &_title {
        color: $GRAY-67;
        margin-top: vw-p(42px);
      }
      input {
        width: vw-p(300px);
        height: vw-p(44px);
        border-radius: vw-p(6px);
        border: 1px solid $MAIN;
        color: $GRAY-40;
        padding-left: vw-p(16px);
      }
      input:focus {
        border: vw-p(1px) solid $MAIN;
        box-shadow: 0 0 vw-p(5px) $MAIN;
      }
      &_check {
        color: $RED;
      }
    }
    &_btn {
      width: vw-p(300px);
      height: vw-p(52px);
      color: $WHITE;
      background-color: $MAIN;
      margin: vw-p(14px) 0 vw-p(24px);
      border-radius: vw-p(6px);
    }
    &_btn:hover {
      box-shadow: 0px 0px vw-p(5px) $MAIN;
    }
    &_ask {
      color: $GRAY-67;
      margin-bottom: vw-p(32px);
      &_login {
        margin-left: vw-p(6px);
        text-decoration: underline;
      }
    }
    &_alert {
      color: $GRAY-76;
      &_sub2, &_sub3 {
        margin-top: vw-p(20px);
      }
    }
  }
}