.container {
  justify-content: center;
}
.findidfin {
  align-items: center;
  flex-direction: column;
  &_img {
    margin: (190px) 0 (28px) 0;
    &_checkbox {
      height: (60px);
      width: (60px);
    }
  }
  &_remind {
    padding: (6px);
    color: $GRAY-40;
  }
  &_info {
    margin: (46px) 0 (30px) 0;
    color: $GRAY-76;
    flex-direction: column;
    &_email {
      color: $GRAY-4A;
    }
  }
  &_pw_btn,
  &_login_btn {
    width: (300px);
    height: (60px);
    color: $WHITE;
    background-color: $MAIN;
    opacity: 0.95;
    border-radius: (4px);
    margin: (24px) 0 (4px) 0;
  }
  &_pw_btn:hover,
  &_login_btn:hover {
    box-shadow: 0 0 (5px) $MAIN;
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  .findidfin {
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw(190px) 0 vw(28px) 0;
      &_checkbox {
        height: vw(60px);
        width: vw(60px);
      }
    }
    &_remind {
      padding: vw(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw(46px) 0 vw(30px) 0;
      color: $GRAY-76;
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn,
    &_login_btn {
      width: vw(300px);
      height: vw(60px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw(4px);
      margin-top: vw(24px);
    }
    &_pw_btn:hover,
    &_login_btn:hover {
      box-shadow: 0px 0px vw(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .findidfin {
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw-t(190px) 0 vw-t(28px) 0;
      &_checkbox {
        height: vw-t(52px);
        width: vw-t(52px);
      }
    }
    &_remind {
      padding: vw-t(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw-t(46px) 0 vw-t(30px) 0;
      color: $GRAY-76;
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn,
    &_login_btn {
      width: vw-t(350px);
      height: vw-t(65px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw-t(8px);
      margin-top: vw-t(24px);
    }
    &_pw_btn:hover,
    &_login_btn:hover {
      box-shadow: 0px 0px vw-t(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .findidfin {
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw-p(190px) 0 vw-p(28px) 0;
      &_checkbox {
        height: vw-p(60px);
        width: vw-p(60px);
      }
    }
    &_remind {
      padding: vw-p(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw-p(46px) 0 vw-p(30px) 0;
      color: $GRAY-76;
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn,
    &_login_btn {
      width: vw-p(350px);
      height: vw-p(65px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw-p(8px);
      margin-top: vw-p(24px);
    }
    &_pw_btn:hover,
    &_login_btn:hover {
      box-shadow: 0px 0px vw-p(5px) $MAIN;
    }
  }
}
