.container {
  justify-content: center;
}
.findidfin {
  width: (350px);
  align-items: center;
  flex-direction: column;
  &_img {
    margin: (212px) 0 (28px) 0;
    &_checkbox {
      height: (48px);
      width: (48px);
    }
  }
  &_remind {
    height: (40px);
    padding: (6px);
    color: $GRAY-40;
  }
  &_info {
    margin: (46px) 0 (22px) 0;
    color: $GRAY-76;
    width: (240px);
    height: (70px);
    flex-direction: column;
    &_email {
      color: $GRAY-4A;
    }
  }
  &_pw_btn, &_login_btn {
    width: (300px);
    height: (52px);
    color: $WHITE;
    background-color: $MAIN;
    border-radius: (4px);
    margin-top: (24px);
  }
  &_pw_btn:hover, &_login_btn:hover {
    box-shadow: 0 0 (5px) $MAIN;
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  .findidfin {
    width: vw(350px);
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw(212px) 0 vw(28px) 0;
      &_checkbox {
        height: vw(48px);
        width: vw(48px);
      }
    }
    &_remind {
      height: vw(40px);
      padding: vw(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw(46px) 0 vw(22px) 0;
      color: $GRAY-76;
      width: vw(240px);
      height: vw(70px);
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn, &_login_btn {
      width: vw(300px);
      height: vw(52px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw(4px);
      margin-top: vw(24px);
    }
    &_pw_btn:hover, &_login_btn:hover {
      box-shadow: 0px 0px vw(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .findidfin {
    width: vw-t(350px);
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw-t(212px) 0 vw-t(28px) 0;
      &_checkbox {
        height: vw-t(48px);
        width: vw-t(48px);
      }
    }
    &_remind {
      height: vw-t(40px);
      padding: vw-t(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw-t(46px) 0 vw-t(22px) 0;
      color: $GRAY-76;
      width: vw-t(240px);
      height: vw-t(70px);
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn, &_login_btn {
      width: vw-t(300px);
      height: vw-t(52px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw-t(4px);
      margin-top: vw-t(24px);
    }
    &_pw_btn:hover, &_login_btn:hover {
      box-shadow: 0px 0px vw-t(5px) $MAIN;
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .findidfin {
    width: vw-p(350px);
    align-items: center;
    flex-direction: column;
    &_img {
      margin: vw-p(212px) 0 vw-p(28px) 0;
      &_checkbox {
        height: vw-p(48px);
        width: vw-p(48px);
      }
    }
    &_remind {
      height: vw-p(40px);
      padding: vw-p(6px);
      color: $GRAY-40;
    }
    &_info {
      margin: vw-p(46px) 0 vw-p(22px) 0;
      color: $GRAY-76;
      width: vw-p(240px);
      height: vw-p(70px);
      flex-direction: column;
      &_email {
        color: $GRAY-4A;
      }
    }
    &_pw_btn, &_login_btn {
      width: vw-p(300px);
      height: vw-p(52px);
      color: $WHITE;
      background-color: $MAIN;
      border-radius: vw-p(4px);
      margin-top: vw-p(24px);
    }
    &_pw_btn:hover, &_login_btn:hover {
      box-shadow: 0px 0px vw-p(5px) $MAIN;
    }
  }
}