.weather {
  width: vw(150px);
  justify-content: space-around;
  &_icon {
    color: $GRAY-76;
    svg{
      height: vw(40px);
      width: vw(40px);
    }
  }

    &_celc {
      margin-top: vw(8px);
      color: $GRAY-76;
    }

  }
