.image {
  width: vw(370px);
  margin-bottom: vw(48px);

  &_header {
    // flex-direction: row;
    width: vw(370px);
    margin-bottom: vw(20px);
    // height: vw(32px);
    justify-content: space-between;

    &_profile {
      &_pic {
        width: vw(32px);
        height: vw(32px);
        overflow: hidden;
        margin-right: vw(10px);

        img {
          width: 100%;
          height: 100%;
          border-radius: 70%;
        }
      }
      &_name {
        color: $GRAY-67;
      }
    }

    &_extra {
      p {
        color: $GRAY-67;
      }
      &_good,
      &_look {
        margin: 0 vw(6px);
      }
    }
  }

  &_pic {
    width: vw(370px);
    height: vw(370px);
    overflow: hidden;
    margin-bottom: vw(26px);

    img {
      width: 100%;
      height: 100%;
      border-radius: vw(17px);
    }
  }

  &_text {
    color: $GRAY-40;
  }
}

.photolist {
  flex-wrap: wrap;
  justify-content: space-between;
}
