.main_banner {
  background-image: url("../../assets/images/car.jpeg");
  border-radius: vw(17px);
  width: vw(1170px);
  height: vw(432px);
  overflow: hidden;
  flex-direction: column;
  justify-content: end;
  // background-color: black;

  &_txt {
    justify-content: space-between;
    // background-color: red;
    margin: 0 vw(44px) vw(50px) vw(44px);

    &_left {
      // background-color: aqua;
      &_title {
        color: $WHITE;
      }
      &_profile {
        margin-top: vw(19px);
        &_img {
          width: vw(25px);
          height: vw(25px);
          overflow: hidden;
          margin-right: vw(12px);

          img {
            width: 100%;
            height: 100%;
            border-radius: 70%;
          }
        }
        &_name {
          color: $WHITE;
        }
      }
    }
    &_right {
      // justify-content: flex-end;
      align-items: center;
      &_btn {
        &_write,
        &_move {
          border: vw(2px) solid $WHITE;
          height: vw(57px);
          width: vw(168px);
          color: $WHITE;
          border-radius: vw(17px);
          margin-left: vw(27px);
        }
      }
    }
  }
}
