// #MainNavBar{
//     // width : 100%;
//     width: 1440px;
//     height : vw(100px);
//     justify-content: space-between;


//     .container{
//         // width :
//         color : $GRAY-67;

//         .left_nav{
//             a{
//                 margin-right : vw(40px);
//             }

//         } 
//     }

// }
.wrapper {
    justify-content: center;
}

#MainNavBar {
    width: 1440px;
    background-color: red;
    justify-content: space-between;
    padding : 0 vw(135px);
    align-items: center;

    .left_nav {
        &__link {
            width: 100px;
            height: 100px;

            .logo {
                width: vw(129px);
                height: vw(30px);
                margin : 0 vw(56px) 0 vw(4px);
            }
        }
    }

}